html, body, p, ul, li, img, h1, h2, h3, h4, pre {
    margin: 0;
    padding: 0;
    border: 0
}

html, body, button, input, textarea, pre {
    font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif
}

html, body {
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden
}

body {
    background: #fff;
    -webkit-text-size-adjust: none
}

h1, h2, h3, h4 {
    font-weight: normal
}

ul {
    list-style: none
}

a {
    text-decoration: none
}

img {
    border: 0
}

textarea {
    overflow: auto
}

embed {
    width: 100%
}

* {
    scrollbar-face-color: #bbb;
    scrollbar-arrow-color: #bbb;
    scrollbar-3dlight-color: #c0c0c0;
    scrollbar-highlight-color: #bbb;
    scrollbar-shadow-color: #bbb;
    scrollbar-darkshadow-color: #c0c0c0;
    scrollbar-track-color: #eee
}

pre {
    border: 0;
    background: 0;
    white-space: pre-line
}

::-webkit-scrollbar {
    width: 6px
}

::-webkit-scrollbar-track {
    background-color: #ddd
}

::-webkit-scrollbar-track-piece {
    background-color: #f3f3f3;
    -webkit-border-radius: 3px
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border: solid 1px #c0c0c0;
    border-radius: 3px
}

::-webkit-scrollbar-corner {
    background-color: #f3f3f3
}

::-webkit-resizer {
    background-repeat: no-repeat;
    background-position: bottom right
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbb
}

.container {
    height: 100%;
    width: 100%;
    border: 0
}

.header {
    height: 50px;
    background-color: #a5baf4;
    color: #fff
}

.content {
    width: 100%;
    height: 340px;
    overflow-y: auto;
    display: block;
    word-break: normal;
    border-right: 1px solid #ddd
}

.conversation {
    list-style: none;
    padding: 12px
}

.footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #ddd;
    position: absolute
}

.msg-input {
    display: block;
    width: 100%;
    height: 150px;
    position: absolute;
    background: #fff;
}

.input-box {
    display: block;
    width: 100%;
    height: 90px;
    overflow-y: auto
}

.msg-toolbar-footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 46px;
    width: 100px;
    display: block;
}

.msg-toolbar-footer input {
    width: 80px;
    height: 100%;
    text-align: -moz-center !important;
    text-align: center;
    color: #fff;
    border: 0;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    background-color: #5FB878;
    font-size: 14px
}

#chatmsg_submit {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none
}

.msg-toolbar-footer input:hover {
    background-color: #1ed4b4
}

.msg-toolbar-footer span {
    display: block;
    float: right;
    height: 24px;
    margin: 1px 8px 1px 0;
    text-align: center
}

.msg-toolbar {
    height: 34px;
    background: #c1b9b9;
    border-bottom: 1px solid #ddd
}

.msg-toolbar a {
    float: left;
    margin: 6px
}

.outer-right {
    float: right;
    width: 500px;
    position: relative;
    right: 10%;
    top:5px;
    clear: both;
    font-size: 14px;
}

.outer-left {
    float: left;
    width: 500px;
    position: relative;
    left: 10%;
    clear: both;
    font-size: 14px;
}

.outer-iframe-left {
    float: left;
    position: relative;
    clear: both;
    padding-top: 5px
}

.outer-right:before, .outer-right > i {
    width: 0;
    height: 1px;
    border-width: 6px 7px;
    border-style: dashed solid dashed solid;
    border-color: transparent transparent transparent #5FB878;
    _border-color: #fff #19caa6 #fff #eee;
    font-size: 0;
    line-height: 0;
    content: "";
    position: absolute;
    top: 15px;
    right: -12px
}

.outer-left:before, .outer-left > i {
    width: 0;
    height: 1px;
    border-width: 6px 7px;
    border-style: dashed solid dashed solid;
    border-color: transparent #eee transparent transparent;
    _border-color: #fff #fff #fff #eee;
    font-size: 0;
    line-height: 0;
    content: "";
    position: absolute;
    top: 15px;
    left: -12px;
    left: -11px \9;
    *left: -11px
}

.customer {
    margin-right: 10px;
    margin-top: 5px;
    background-color: #eee;
    display: inline-block;
    padding: 10px 10px;
    float: left;
    word-break: break-all;
    word-wrap: break-word;
    color: #000;
    border-radius: 3px;
    max-width: 100%;
    box-sizing: border-box
}

.service {
    margin-left: 10px;
    margin-top: 5px;
    *margin-top: 10px;
    background-color: #5FB878;
    display: inline-block;
    padding: 10px 10px;
    float: right;
    word-break: break-all;
    word-wrap: break-word;
    color: #fff;
    border-radius: 3px;
    position: relative;
    max-width: 100%
}

.chatmsg {
    margin-bottom: 25px;
    position: relative
}

.chatmsg:after, .chatmsg p {
    content: "";
    display: table;
    clear: both
}

.customer-name {
    float: left;
    display: block;
    position: relative;
    font-size: 12px;
    color: #8d8d8d
}

.showtime {
    color: #d2d2d2;
    position: relative;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: center;
    height:17px;
}

.outer-left img {
    width: auto;
    max-width: 200px;
    max-height: 200px;
    box-sizing: border-box
}

.conversation li a {
    color: #000;
    text-decoration: underline
}


.triangle {
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 8px solid #fff;
        }


.hidden{
           visibility:hidden; 
        }

.hide{
            display: none;
        }